.Minibutton {
    width: 40px;
    height: 40px;
    margin-top: 1em;
    display: flex;
    border: solid 1px hsl(212, 18%, 33%);
    align-items: center;
    color: white;
    justify-content: center;
    border-radius: 10px;
    background-color: #3f4170;
    
    box-shadow: 
        2px 0 10px 0 rgba(140, 192, 189, 0.12),
        2px 0 10px 0 rgba(168, 188, 189, 0.09);
    cursor: pointer;
}

.Minibutton:hover {
    
    background-color: #676FFF;
    border: solid 1px #19564F;
    box-shadow: 
        2px 0 10px 0 rgba(140, 192, 189, 0.12),
        2px 0 10px 0 rgba(168, 188, 189, 0.09);
    transform: scale(1.1);
    transition: all 0.5s;
}
.Minibutton:hover fa{
    color: #19564F;
}

.Minibutton:active {
    background-color:#19564F;
    
}

