.dsmeta-red-btn {
  height: 45px;
  width: 45px;
  background-color: #676FFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;
}

.dsmeta-red-btn:hover {
    background-color: #3f4170;
    border: solid 1px #d8daff;
    box-shadow: 
        2px 0 10px 0 rgba(140, 192, 189, 0.12),
        2px 0 10px 0 rgba(168, 188, 189, 0.09);
    transform: scale(1.1);
    transition: all 0.5s;
}